:root {
  --display-color: #9f9980;
}

* {
  font-size: 1rem;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  border-color: black;
  border-style: solid;
  padding: 12px;
  width: 25%;
}

.zero {
  width: 50%;
}

.display {
  background-color: var(--display-color);
  border: 12px solid black;
  padding: 6px;
  font-size: 2rem;
}
